html,
body {
    background-color: #1c405a;
    margin: 0;
    height: 100%;
}

.megaphone {
    background: url(/megaphone.svg) no-repeat center;
    border: none;
}

.correct {
    color: green;
}

.wrong {
    color: red;
    text-decoration: line-through;
}